<div class="col-sm-2"></div>
<div class="col-sm-8" style="text-align: center">
  <%= form_for @post, :authenticity_token => true do |post| %>
    <div class="post-form">
      <%= render 'shared/error_messages', object: post.object %>

      <%= post.text_field :title, placeholder: "Enter title here", class: "form-control",  id: "title-field", size: "78"%>
      <br>
      <%= post.text_area :body, placeholder: "Enter body here", class: "form-control", id: "body-field", size: "78x18" %>
      <br>
      <div style="padding-left: 33%;"><%= post.file_field :image, class: "btn btn-default"%></div>
      <br>
      <% if @post.image? %>
        <label><%= post.check_box :remove_image, class: "checkbox-image"%>Delete image</label>
      <% end %>
      <%= post.submit choose_button_name(@post.body), class: "btn btn-default"%>
    </div>
  <% end %>
</div>
