<div class="container-fluid bg-3 all-posts">
    <% @posts.each do |post| %>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="post-full panel panel-default post">
          <div class="post-image">
            <%= image_tag post.image, class: "homepage-post-image"%>
          </div>
          <div>
            <h2><%= link_to post.title, post_path(post.id), class: "post-title"%></h2>
          </div>
          <div class="post-body">
            <%= get_limited_version(post.body) %>
          </div>
          <div class="author"><i>by <%= link_to post.user.name, post.user %></i></div>
        </div>
      </div>
    <% end %>
    <div class="pager"><%= will_paginate @posts %></div>
</div>
