<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div style="text-align: center" class="post-title"><h2><%= @post.title%></h2>
    <% if @post.image? %>
      <div class="post-image"><%= image_tag @post.image, class: "show-image" %></div>
    <% end %>
    <br><br>
  </div>

  <div class="post-body"><%= @post.body%>
  <div style="float: left; margin-right: 5px"><%= button_to "Edit post", edit_post_path, :method => :get, class: "btn btn-default", id: "post_title"%></div>
  <%= button_to "Delete post", post_path, class: "btn btn-default", :method => :delete, data: { confirm: 'Are you sure?' }%>

  <br><br>

  <div id="post-counter">
    <b>Comments:</b>
    <%= @post.comments.count %>
  </div>

  <br>

  <div class="comments-block">
    <% @post.comments.each do |comment| %>
      <div class="comment panel panel-default">
        <p class="comment-created-at"><%= comment.created_at.strftime("%H:%M %Y-%m-%d") %></p>
        <p class="comment-body"><%= comment.body %></p>
      </div>
    <% end %>
  </div>

 <%= render "comments/form" %>

</div>
<div class="col-sm-2"></div>
