<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div style="text-align: center" class="post-title"><h2><%= @post.title%></h2>
    <% if @post.image? %>
      <div class="post-image"><%= image_tag @post.image, class: "show-image" %></div>
    <% end %>
    <br><br>
  </div>

  <div class="post-body"><%= @post.body%>
  <%= button_to "Edit post", edit_post_path, :method => :get, class: "btn btn-default", id: "post_title"%>
  <%= button_to "Delete post", post_path, class: "btn btn-default", :method => :delete%>

  </div>
<div class="col-sm-2"></div>
