<!DOCTYPE html>
<html>
<head>
  <title>SgBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navbar" %>

  <% flash.each do |key, value| %>
    <div class="alert alert-success" style="top: 0"><%= value %></div>
  <% end %>

  <%= yield %>
  <div class="debug_dump"><%= debug(params) if Rails.env.development? %></div>
</body>
</html>
